{% comment %}
<!-- {% load custom_tags %}

<div class="container" id="body1">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" 
      {% if user.is_authenticated %}
      href="{% url 'post-list' %}"
      {% else %}
      href="{% url 'index' %}"
      {% endif %}
      ><i class="fas fa-comment"></i> Social Network</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a href="{% url 'explore' %}" class="inbox-icon"><i class="far fa-compass"></i></a>
          </li>

        </ul>
        <form class="d-flex" method="GET" action="{% url 'user-search' %}">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
                <button class="remove-default-btn" type="submit"><i class="fas fa-search"></i></button>
              </div>
        </form>
   
        {% if user.is_authenticated %}
        

        <div class="nav-item inbox-icon-container">
         
        </div>
        
        <div class="nav-item">
          {% show_notifications %}
        </div>
        <div class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-user"></i></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'profile' request.user.profile.pk %}" class="dropdown-item">Profile</a></li>
              <li><a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a></li>
          </ul>
      </div>
        {% endif %}
      </div>
    </div>
  </nav>
</div> -->
{% endcomment %}

<nav>
  <div class="container">
    <a class="navbar-brand" 
      {% if user.is_authenticated %}
      href="{% url 'post-list' %}"
      {% else %}
      href="{% url 'index' %}"
      {% endif %}>
      <h2 class="log">
          Social  Media
        </h2>
    </a>
    <form action="{% url 'user-search' %}" method="GET">
      <div class="search-bar">
          <i class="uil uil-search"></i>
          <input type="search" name="query" placeholder="Search for users">
          
      </div>
    </form>
      <div class="create">
          <label class= "btn btn-primary" for="create-post">Create</label>
          <a href="{% url 'profile' request.user.profile.pk %}">
              <div class="profile-photo">
                  <img src="{{ user.profile.picture.url }}" alt="">
              </div>
          </a>
      </div>
  </div>
</nav>
