{% extends 'landing/base.html' %}


{% block content %}


<div class="feeds">
    {% for post in post_list %}
    <div class="feed">
      <div class="head">
        <div class="user">
          <div class="ingo">
            <h3>{{ post.author.username }}</h3>
            <small class="text-muted">{{ post.created_on }}</small>
          </div>
        </div>
      </div>
      {% if post.image.count > 0 %} {% for img in post.image.all %}
      <div class="photo">
        <img src="{{ img.image.url }}" alt="" />
      </div>
      {% endfor %} {% endif %}
      <div class="caption">
        <p>{{ post.body }}</p>
      </div>
      <div class="action-buttons">
        <div class="interaction-buttons">
          <form method="POST" action="{% url 'like' post.pk %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit">
          <i class="uil uil-thumbs-up">{{ post.likes.all.count }}</i>
             </button>
      </form>
      <form method="POST" action="{% url 'dislike' post.pk %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit">
          <i class="uil uil-thumbs-down">{{ post.dislikes.all.count }}</i>
      </button>
  </form>
       <a href="{% url 'post-detail' post.pk %}">
          <span><i class="uil uil-comment-dots"></i></span>
          </a>
          <span><i class="uil uil-share-alt"></i></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}

<!-- <div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-detail' object.post.pk %}" class="btn btn-light">Back To Post</a>
        </div>
    </div>
  
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                <h5>Delete Comment?</h5>
                <p>Once deleted, the action cannot be undone!</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger mt-3">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
   
    
</div> -->