{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="feeds">
    <div class="feed">
        <div class="caption">
           <h3> Edit Your Comment!! </h3>
        </div>
    </div>
</div>

<div class="feeds">
    <div class="feed">
        <div class="caption">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea name="body" id="" cols="30" rows="10">{{ comment.comment }}</textarea>
                <!-- {{form | crispy}} -->
                <button type="Submit">Post</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% comment %}
<!-- <div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-detail' object.post.pk %}" class="btn btn-light">Back To Post</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Edit Your Comment!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">
                        Post
                    </button>
                </div>
            </form>
        </div>
    </div>
   
    
</div> -->
{% endcomment %}
