<button class="btn btn-danger text-center"> <span class="text-center" onclick="removeNotification(`{% url 'clear-notifications' %}`, `{{ request.path }}`)">Clear All Notifications</span></button>

{% for notification in notifications %}
{% if notification.post %}
				{% if notification.notification_type == 1 %}
<div>
	<a href="{% url 'post-notification' notification.pk notification.post.pk %}">
	<div class="profile-photo">
		<img src="{{ notification.from_user.profile.image.url }}" alt="">
	</div>
	<div class="notification-body">
		<b>@{{ notification.from_user }}</b> liked your post
		<small class="text-muted">2 Days Ago</small>
		
	</div>
</a>
</div>
{% elif notification.notification_type == 2 %}
<div>
	<a href="{% url 'post-notification' notification.pk notification.post.pk %}">
	<div class="profile-photo">
		<img src="{{ notification.from_user.profile.image.url }}" alt="">
	</div>
	<div class="notification-body">
		<b>@{{ notification.from_user }}</b> commented on your post
		<small class="text-muted">2 Days Ago</small>
		
	</div>
</a>
</div>
{% endif %}
{% elif notification.comment %}
{% if notification.notification_type == 1 %}
<div>
	<a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">
	<div class="profile-photo">
		<img src="{{ notification.from_user.profile.image.url }}" alt="">
	</div>
	<div class="notification-body">
		<b>@{{ notification.from_user }}</b> liked your comment
		<small class="text-muted">2 Days Ago</small>
		
	</div>
</a>
</div>
{% elif notification.notification_type == 2 %}
<div>
	<a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">
	<div class="profile-photo">
		<img src="{{ notification.from_user.profile.image.url }}" alt="">
	</div>
	<div class="notification-body">
		<b>@{{ notification.from_user }}</b> replied to your comment
		<small class="text-muted">2 Days Ago</small>
		
	</div>
</a>
</div>
{% endif %}
{% elif notification.thread %}
<div>
	<a href="{% url 'thread-notification' notification.pk notification.thread.pk %}">
	<div class="profile-photo">
		<img src="{{ notification.from_user.profile.image.url }}" alt="">
	</div>
	<div class="notification-body">
		<b>@{{ notification.from_user }}</b> sent you a message
		<small class="text-muted">2 Days Ago</small>
		
	</div>
</a>
</div>
{% else %}
<div>
	<a href="{% url 'follow-notification' notification.pk notification.from_user.profile.pk %}">
	<div class="profile-photo">
		<img src="{{ notification.from_user.profile.image.url }}" alt="">
	</div>
	<div class="notification-body">
		<b>@{{ notification.from_user }}</b> started following you
		<small class="text-muted">2 Days Ago</small>
		
	</div>
</a>
</div>
{% endif %}
{% endfor %}

